django>=4.1,<4.2
wagtail>=4.2,<4.3

psycopg2-binary
sentry_sdk==1.16.0
python-dotenv==1.0.0
wagtail==4.2
wagtail-meta-preview==1.1.1
wagtail_headless_preview==0.5.0
black
django-debug-toolbar
django-stubs==1.15.0
djangorestframework-stubs==1.9.1
isort
pipdeptree
ptvsd
ruff
pytest-django==4.5.2
coverage
pytest-env
wagtail-factories==4.0.0
python-dotenv
django-cors-headers